Flask==1.1.2
flask_sqlalchemy
sqlalchemy
mysqlclient
# uWSGI
mysql-connector-python
flask_restx
pymysql
# # nugu speaker로 다시 전송할 데이터 
      
      # weather
      
      # list1.append(weather)
      
      # if len(list1)%5 == 0:
         
      #    num = len(list1)
         
      #    cnt1 = 0
      #    cnt2 = 0
            
      #       for i in range(num, num-5) :
               
      #          if list1[i] > 10 : # 온도 체크 로직 
                  
      #             cnt1 += 1
                  
      #       for i in range(num, num-5) :
               
      #          if list1[i] < 0 :   # 온도 체크 로직 
                  
      #             cnt2 += 1
            
      #       #더울 때      
      #       if cnt1 == 5 :
               
      #          print
      
      #       #추울 때      
      #       if cnt2 == 5 :
               
      #          print
         
      #    if(temp > 20)
           
      #    else if (temp < 20)
         
         
         
      
      
      # list1.append(num)
      
      
      
      
      
      
      
      # if len(list1) > 5 :
         
      #    for i in list1  :
         
      #       cnt = 0
         
      #       if i > 10 :
            
      #          cnt += 1
            
      #       if cnt >5 :
            
      #          print



  # today02am = cur_time.replace(hour=2, minute=0);
      # today05am = cur_time.replace(hour=5, minute=0);
      # today08am = cur_time.replace(hour=8, minute=0);w
      # today11am = cur_time.replace(hour=11, minute=0);
      # today14pm = cur_time.replace(hour=14, minute=0);
      # today17pm = cur_time.replace(hour=17, minute=0);
      # today20pm = cur_time.replace(hour=20, minute=0);
      # today23pm = cur_time.replace(hour=23, minute=0);
      
      
      # if cur_time >= today02am and cur_time < today05am : 
      #    cur_time = today02am;
      
      # if cur_time >= today05am and cur_time < today08am : 
      #    cur_time = today05am;
      
      # if cur_time >= today08am and cur_time < today11am : 
      #    cur_time = today08am;
      
      # if cur_time >= today11am and cur_time < today14pm : 
      #    cur_time = today11am;
      
      # if cur_time >= today14pm and cur_time < today17pm : 
      #    cur_time = today14pm;
         
      # if cur_time >= today17pm and cur_time < today20pm : 
      #    cur_time = today17pm;
         
      # if cur_time >= today20pm and cur_time < today23pm : 
      #    cur_time = today20pm;
         
      # if cur_time >= today23pm or cur_time < today02am :
      #    cur_time = today23pm;
    #    print(cur_time);